.area-staff {
  width: 960px;
  margin: 60px auto 20px;
}
.box-staff {
  width: 300px;
  display: inline-block;
  border-radius: 15px;
  height: 75px;
  margin: 10px;
  background-color: #dfd6ae;
  position: relative;
}
.program-staff:before {
  content: url("../img/credit/programer-icon.png");
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  position: absolute;
}
.design-staff:before {
  content: url("../img/credit/designer-icon.png");
  transform: scale(0.5);
  position: absolute;
  right: 68px;
  top: 18px;
}
.story-staff:before {
  content: url("../img/credit/sinario-icon.png");
  transform: scale(0.5);
  position: absolute;
}
.planer-staff:before {
  content: url("../img/credit/planer-icon.png");
  transform: scale(0.5);
  position: absolute;
}
.music-staff:before {
  content: url("../img/credit/music-icon.png");
  transform: scale(0.5);
  position: absolute;
}
