.box-story {
  margin: 0 auto 0 auto;
  width: 960px;
}
.sentence-box-story {
  position: absolute;
  font-size: 17px;
  line-height: 33px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  top: 595px;
  width: 960px;
  margin: auto 0 auto 0;
}
.program-staff {
  background-color: #82aff9;
}
.design-staff {
  background-color: #f97d81;
}
.story-staff {
  background-color: #b1c392;
}
.planer-staff {
  background-color: #dfd6ae;
}
