@charset "utf-8"
//character
.box-character
  margin 0 auto 0 auto
  width 960px
  max-width 960px
  min-width 600px
  position relative
  text-align left
.streetName-character
  font-size 20px
.cover-img-character
  position relative
.character-serif
    position absolute
    top 30px
    left 16px
    font-family cursive
    font-size 29px
    white-space pre
.img-character
  width 425px
  margin 0 0 0 550px
.cover-unitImage-character
  position relative
.img-unitImage-character
  width 110px
  position absolute
  bottom 105px
  left 50px
.unitImage-back
  left 170px
.profile-character
  position absolute
  bottom 130px
  left 340px
.establish-character
  position absolute
  width 520px
  bottom 25px
  left 23px
  text-align left
.box-character-thumbnail
  text-align left
  margin 0 auto 0 auto
  width 960px
.name-character
  margin 25px 0 0 110px
.profile-character-table
  td
    padding 10px
