@charset "utf-8"

.common-box-index
  width 960px
  margin 0 auto 0 auto

.main-index
  height 540px
.notice-index
  text-align left
  margin: 0 auto 0 auto;
  margin-left: 380px;
.twitter-index
  float: left;
  margin: 0 auto 0 auto;
  width: 360px;
.cover-game-information-index
  position relative
.publish-fuyukomi-index
  position absolute
  bottom 165px
  left 160px
  font-size 30px
  color yellow
  text-shadow 1px 1px 1px #000
.game-infomation-index
  position absolute
  left 325px
  bottom 60px
  text-shadow 1px 1px 1px #000
  font-size 20px
  color #fff
.publish-sentence-index
  margin 10px 0 10px 0
