extends ./base
block title-word
  title ガーデンテイル ~アレク~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/character.css')

block append content
  article.box-character
    h2.name-character
      span.streetName-character 〜熱血系野菜のお兄さん〜
      | &nbsp; &nbsp; アレク
    div.clearfix.cover-img-character
      img.img-character(src="./img/character/alec/alec.png" alt="オリビア|立ち絵")
      div.character-serif
        | へいらっしゃいッ、良いのが揃ってるよ！
        br
        | 買った買ったァ！！
    div.cover-unitImage-character
      img.img-model-character(src="./img/character/alec/alec_model.png" )
    section.profile-character
      table.profile-character-table
        th プロフィール
        tr
          td 年齢
          td 20
        tr
         td 性別
         td 男
        tr
         td 職業
         td 八百屋
    section.establish-character
      | ボニョンを含む様々な野菜を売る八百屋の熱血店長。
      br
      | 人と人の繋がりを大事にしており、人情に厚い。
      br
      | 夢は【安くて旨い野菜を皆に提供する】こと。
  include character_under_list
