extends ./base
block title-word
  title GardenTale ~クルツ~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/character.css')

block append content
  article.box-character
    h2.name-character
      span.streetName-character 〜若きエリート庭師〜
      |  &nbsp; &nbsp;   クルツ
    div.clearfix.cover-img-character
      img.img-character(src="./img/character/kurtz/kurtz.png" alt="クルツ|立ち絵")
      div.character-serif
        | 僕は僕の追い求める庭を造り続ける。
        br
        | 邪魔をするなら、容赦はしない！
    div.cover-unitImage-character
      img.img-unitImage-character(src="./img/character/kurtz/kurtz_f.png" alt="クルツ|前向き")
      img.img-unitImage-character.unitImage-back(src="./img/character/kurtz/kurtz_b.png" alt="クルツ|後ろ向き")
    section.profile-character
      table.profile-character-table
        th プロフィール
        tr
          td 年齢
          td 18
        tr
         td 性別
         td 男
        tr
         td 職業
         td 庭師
    section.establish-character
      | 若くして成り上がったガーデン王国の庭師。
      br
      | 自己中心的でナルシストな面もあるが、ガーデンを大事に思う好青年。
      br
      | 夢は【誰しもが安らぎと温もりを感じる庭を造る】こと。
  article.box-character-thumbnail
    h2 メイン キャラクター
    a(href="./character.html")
      img.img-thumbnail(src="./img/character/kurtz/kurtz.png" alt="クルツ|サムネ" width="60px")
    a(href="./orivia.html")
      img.img-thumbnail(src="./img/character/orivia/orivia.png" alt="オリビア|サムネ" width="60px")
    | CommingSoon...
