extends ./base
block title-word
  title ガーデンテイル ~お問い合わせ~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/contact.css')

block append content
  h2
    お問い合わせ
  article.box-contact
    div.section-contact
      p ボニョンゲームズ
      p boniongames@gmail.com
    img.character-contact.img-character(src="./img/character/orivia/orivia.png" alt="クルツ|立ち絵" width="300px" )
