extends ./base
block title-word
  title ガーデンテイル ~クレジット~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/credit.css')

block append content
  h1 制作スタッフ紹介
  article.area-staff
    div.box-staff.program-staff
      h4.staffName-staff ディレクター/プログラマ
      | 牧野
    div.box-staff.program-staff
      h4.staffName-staff チーフプログラマ
      | 中島
    div.box-staff.program-staff
      h4.staffName-staff プログラマ
      | 杉山
    div.box-staff.design-staff
      h4.staffName-staff デザイナ
      | 錦織
    div.box-staff.design-staff
      h4.staffName-staff デザイナ
      | 河野
    div.box-staff.music-staff
      h4.staffName-staff サウンド
      | 藤田
    div.box-staff.story-staff
      h4.staffName-staff シナリオ/スクリプタ
      | 平島
    div.box-staff.planer-staff
      h4.staffName-staff プランナ
      | 小田部

