extends ./base
block title-word
  title ガーデンテイル ~ダウンロード~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/download.css')

block append content
  h3 体験版のダウンロード
  hr
  a(href="./download/GardenTale_Trial_ver1.0.zip" target="_blank" onclick="ga('send','event','download','click','GardenTale_Trial_ver1.0');")
    ガーデンテイル体験版(ver.1.0)
  h5 ※3章までプレイすることができます。
  h5 セーブデータは製品版に引き継ぎできます。
