extends ./base
block title-word
  title ガーデンテイル ~ヒーツ~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/character.css')

block append content
  article.box-character
    h2.name-character
      span.streetName-character 〜もっふもふ領主〜
      | &nbsp; &nbsp; ヒーツ
    div.clearfix.cover-img-character
      img.img-character(src="./img/character/heetz/heetz.png" alt="ヒーツ|立ち絵")
      div.character-serif
        | 力、権力、そしてもっふもふの毛並みィ！！
        br
        | 持って生まれたもん使うてナニが悪いんや！
    div.cover-unitImage-character
      img.img-model-character(src="./img/character/heetz/heetz_model.png" )
    section.profile-character
      table.profile-character-table
        th プロフィール
        tr
          td 年齢
          td 16
        tr
         td 性別
         td 男
        tr
         td 職業
         td 領主
    section.establish-character
      | ズゥ帝国内のとある地方の領主である羊の獣人。
      br
      | 圧政を敷き、領民を苦しめる貴族のボンボン。
      br
      | 自分以上の毛並みを持たない者には従わないという信念を持つ。
  include character_under_list
