extends ./base
block title-word
  title ガーデンテイル ~ヒーツ~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/character.css')

block append content
  article.box-character
    h2.name-character
      span.streetName-character 〜もっふもふ領主〜
      | &nbsp; &nbsp; ヒーツ
    div.clearfix.cover-img-character
      img.img-character(src="./img/character/heetz/heetz.png" alt="ヒーツ|立ち絵")
      div.character-serif
        | 力、権力、そしてもっふもふの毛並みィ！！
        br
        | 持って生まれたもん使うてナニが悪いんや！
    div.cover-unitImage-character
      img.img-unitImage-character(src="./img/character/heetz/heetz_f.png" alt="ヒーツ|前向き")
      img.img-unitImage-character.unitImage-back(src="./img/character/heetz/heetz_b.png" alt="ヒーツ|後ろ向き")
    section.profile-character
      table.profile-character-table
        th プロフィール
        tr
          td 年齢
          td 22
        tr
         td 性別
         td 男
        tr
         td 職業
         td 領主
    section.establish-character
      | ズゥ帝国内のとある地方の領主である羊の獣人。
      br
      | 圧政を敷き、領民を苦しめる貴族のボンボン。
      br
      | 自分以上の毛並みを持たない者には従わないという信念を持つ。
  article.box-character-thumbnail
    h2 メイン キャラクター
    a(href="./character.html")
      img.img-thumbnail(src="./img/character/kurtz/kurtz.png" alt="クルツ|サムネ" width="60px")
    a(href="./orivia.html")
      img.img-thumbnail(src="./img/character/orivia/orivia.png" alt="オリビア|サムネ" width="60px")
    a(href="./alec.html")
      img.img-thumbnail(src="./img/character/alec/alec.png" alt="アレク|サムネ" width="60px")
    a(href="./heetz.html")
      img.img-thumbnail(src="./img/character/heetz/heetz.png" alt="ヒーツ|サムネ" width="60px")
    | CommingSoon...
