extends ./base
block css-link
  link(rel="stylesheet" type="text/css" href='./css/index.css')

block append content
  div.common-box-index.main-index メイン画像かな
  div.common-box-index.notice-index
    h2 お知らせ

