extends ./base
block title-word
  title GardenTale
block css-link
  link(rel="stylesheet" type="text/css" href='./css/index.css')

block append content
  div.common-box-index.main-index
    img.mainImage-top(src="./img/top/main.png" width="960px")
  div.common-box-index.notice-index
    h2 お知らせ

