extends ./base
block title-word
  title ガーデンテイル
block css-link
  link(rel="stylesheet" type="text/css" href='./css/index.css')

block append content
  div.common-box-index.main-index
    img.mainImage-top(src="./img/top/GT2015.jpg" width="960px")
    div.cover-game-information-index
      p.publish-fuyukomi-index
      div.game-infomation-index
  div.common-box-index.notice-index
    h2 お知らせ
    hr
    h3 2015/01/01:冬コミお疲れ様でした＆ありがとうございました!
    | 明けましておめでとうございます！
    | 冬コミでは沢山の方に来ていただいてありがとうございました！
    br
    | また、体験版を十分な数用意できず申し分けありませんでした。
    | 現在製品版を鋭意製作中です。
    | 本年もよろしくお願いします！
    hr
    h3 2014/12/27:新キャラ公開、ムービー公開、スクリーンショット差し替え
    | 各種新情報公開!ページ上部ナビからどうぞ！
    hr
    h3 2014/12/23:ホームページ更新、スクリーンショット公開
    | スクリーンショットページ追加しました!ページ上部ナビからどうぞ！
    hr
    h3 2014/12/16:ホームページ更新、お問い合わせ追加
    | お問い合わせページ追加しました!ページ上部ナビからどうぞ！
    hr
    h3 2014/12/06: ホームページ公開＆コミックマーケット87にサークル参加します
    | ガーデンテイル公式ホームページを公開しました。
    | 情報は随時更新、公開していきますので宜しくお願いします！
    p.publish-sentence-index
      | コミックマーケット87にて体験版を100円で頒布します！
      br
      | 日付：3日目　12月30日(火)
      br
      | 場所：西う37b
      |
