extends ./base
block title-word
  title ガーデンテイル
block css-link
  link(rel="stylesheet" type="text/css" href='./css/index.css')

block append content
  div.common-box-index.main-index
    img.mainImage-top(src="./img/top/main.png" width="960px")
    div.cover-game-information-index
      p.publish-fuyukomi-index
        | C87 12月30日（火）西う37b にて体験版配布！！
      div.game-infomation-index
        | ジャンル:シミュレーションRPG
        br
        | 対応機種:WindowsPC
        br
        | 発売日:未定
  div.common-box-index.notice-index
    h2 お知らせ

