extends ./base
block title-word
  title ガーデンテイル ~ムービー~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/movie.css')

block append content
  article.box-movie
    h3 PV
    hr
    p
      iframe(style="width:560px; height:315px;" src="//www.youtube.com/embed/1XiGh0XP4zw" frameborder="0"  allowfullscreen )
    h3 1章プレイ動画
    hr
    p
      iframe(style="width:560px; height:315px;" src="//www.youtube.com/embed/1XiGh0XP4zw" frameborder="0"  allowfullscreen )
