extends ./base
block css-link
  link(rel="stylesheet" type="text/css" href='./css/character.css')

block append content
  article.box-character
    h2.name-character
      span.streetName-character 〜心優しき花の姫〜
      | &nbsp; &nbsp; オリヴィア
    div.clearfix.cover-img-character
      img.img-character(src="./img/character/orivia/orivia.png" alt="オリビア|立ち絵")
      div.character-serif
        | 今日も良い天気ね。花たちも喜んでるわ。
    div.cover-unitImage-character
      img.img-unitImage-character(src="./img/character/orivia/orivia_f.png" alt="オリビア|前向き")
      img.img-unitImage-character.unitImage-back(src="./img/character/orivia/orivia_b.png" alt="オリビア|後ろ向き")
    section.profile-character
      table.profile-character-table
        th プロフィール
        tr
          td 年齢
          td 23
        tr
         td 性別
         td 女
        tr
         td 職業
         td 花屋
    section.establish-character
      | ガーデンを彩る花を育てる、清楚を絵に描いたような花屋の女性。
      br
      | 花々を愛し、育てるうち、語らうことがきるようになっていた。
      br
      | 夢は【花々で世界を満たす】こと。
  article.box-character-thumbnail
    h2 メイン キャラクター
    a(href="./character.html")
      img.img-thumbnail(src="./img/character/kurtz/kurtz.png" alt="クルツ|サムネ" width="60px")
    a(href="./orivia.html")
      img.img-thumbnail(src="./img/character/orivia/orivia.png" alt="オリビア|サムネ" width="60px")
    | CommingSoon...
