extends ./base
block title-word
  title ガーデンテイル ~スクリーンショット~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/screenshot.css')
  link(rel="stylesheet" type="text/css" href='./vender/lightbox/lightbox.css')

block append content
  article.box-screenshot
    p
      a(href="./img/screenshot/ss00.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss00.jpg" width="250px")
      a(href="./img/screenshot/ss01.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss01.jpg" width="250px")
      a(href="./img/screenshot/ss02.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss02.jpg" width="250px")
      a(href="./img/screenshot/ss03.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss03.jpg" width="250px")
      a(href="./img/screenshot/ss04.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss04.jpg" width="250px")
      a(href="./img/screenshot/ss05.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss05.jpg" width="250px")
      a(href="./img/screenshot/ss06.jpg" rel="lightbox"  data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss06.jpg" width="250px")
      a(href="./img/screenshot/ss07.jpg" rel="lightbox"  data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss07.jpg" width="250px")
      a(href="./img/screenshot/ss08.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss08.jpg" width="250px")
      a(href="./img/screenshot/ss09.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss09.jpg" width="250px")
      a(href="./img/screenshot/ss10.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss10.jpg" width="250px")
      a(href="./img/screenshot/ss11.jpg" rel="lightbox" data-lightbox="screenshot")
        img.img-thumbnail.js-img-screenshot.cover-img-screenshot(src="./img/screenshot/ss11.jpg" width="250px")

block append footer
  script(src="./vender/lightbox/lightbox.min.js")
