extends ./base
block title-word
  title ガーデンテイル ~スペック~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/spec.css')

block append content
  article.box-spec
    hr
    h3 ゲーム概要
    hr
    table.table-bordered.table-striped.table-spec
      tr
        td タイトル
        td ガーデンテイル
      tr
        td ジャンル
        td シミュレーションRPG
      tr
        td 対応機種
        td Windows
    h3 動作環境
    hr
    section
      table.table-bordered.table-striped.table-spec
        tr
          td OS
          td Windows 7  / 8
        tr
          td CPU
          td Intel Core i5 /  i7以上推奨
        tr
          td メモリ
          td 4GB以上
        tr
          td 必要HDD容量
          td 420MB（ + セーブデータ）
        tr
          td 画面
          td 1280×720以上
        tr
          td グラフィックス
          td DirectX 9.0c シェーダ3.0以降（nVIDIA製GPU推奨）
        tr
          td 入力
          td ポインティングデバイス（マウス推奨）
