extends ./base
block css-link
  link(rel="stylesheet" type="text/css" href='./css/spec.css')

block append content
  h1 動作環境
  article.box-spec
    h2 ゲーム概要
    hr
    table.table-bordered.table-striped.table-spec
      tr
        td タイトル
        td Garden Tail
      tr
        td ジャンル
        td シミュレーションRPG
      tr
        td 対応機種
        td Windows
    h2 動作環境
    hr
    section
      h3 体験版
      table.table-bordered.table-striped.table-spec
        tr
          td OS
          td WindowsXP以降？
        tr
          td CPU
          td ２億
        tr
          td メモリ
          td ５億
        tr
          td 必要HDD容量
          td インフィニティ
        tr
          td 画面
          td 800×600以上
        tr
          td グラフィックス
          td VRAM64MB以上 DirectX 9.0c シェーダモデル2.0以降のGPU
        tr
          td サウンド
          td でふぉでおk
        tr
          td 入力
          td マウス推奨
    section
      h3 製品版
      table.table-bordered.table-striped.table-spec
        tr
          td OS
          td WindowsXP以降？
        tr
          td CPU
          td ２億
        tr
          td メモリ
          td ５億
        tr
          td 必要HDD容量
          td インフィニティ
        tr
          td 画面
          td 800×600以上
        tr
          td グラフィックス
          td VRAM64MB以上 DirectX 9.0c シェーダモデル2.0以降のGPU
        tr
          td サウンド
          td でふぉでおk
        tr
          td 入力
          td マウス推奨
