extends ./base
block title-word
  title ガーデンテイル ~システム~
block css-link
  link(rel="stylesheet" type="text/css" href='./css/system.css')

block append content
  div.box-system
    h3 戦闘システム
    hr
    p
      h4 ガーデンテイルは戦略性の高いクォータービューのシミュレーションRPGです。
      img.stageImage-system(src="./img/system/system0.jpg" width="400px" float="left")
      img.stageImage-system(src="./img/system/system1.jpg" width="400px" float="left")
    p
      h4 マップの各地には爆弾のような植物【ボニョン】が点在しています。
      h4 ボニョンは刺激を与えると爆発し、周囲のユニットにダメージを与えます。
      img.stageImage-system(src="./img/system/system2.jpg" width="400px" float="left")
      img.stageImage-system(src="./img/system/system3.jpg" width="400px" float="left")
    p
      h4 爆発時、周囲に他のボニョンがいると誘爆し、爆発連鎖が起きます。
      h4 連鎖数が多いほど爆発ダメージが上昇し、スキルの供給源になる【マナ】をたくさん取得することができます。
      img.stageImage-system(src="./img/system/system4.jpg" width="400px" float="left")
      img.stageImage-system(src="./img/system/system5.jpg" width="400px" float="left")
    h3 スキル
    hr
    p
      h4 ユニットには固有のスキルが最大1個、装備武器にそれぞれ最大2個のスキルを持たせることができます。
      img.stageImage-system(src="./img/system/system6.jpg" width="400px" float="left")
      img.stageImage-system(src="./img/system/system7.jpg" width="400px" float="left")
    p
      h4 常時発動するもの、敵にダメージを与えるもの、ボニョンを操作するものなど様々なスキルがあります。
      h4 ステージごとに最適な武器を選び、敵を迎え撃ちましょう。
      img.stageImage-system(src="./img/system/system8.jpg" width="400px" float="left")
      img.stageImage-system(src="./img/system/system9.jpg" width="400px" float="left")
