extends ./base
block css-link
  link(rel="stylesheet" type="text/css" href='./css/system.css')

block append content
  div.box-system
    img.stageImage-system(src="./img/system/stage.jpg" width="600px")
    p.system-description-system マス目状のマップで戦略性を駆使して戦うターン性シミュレーションRPG
    p.system-description-system 戦略の鍵はフィールドの各地にいるボニョン
    img(src="./img/system/bonyon.png")
    p
      h2 ボニョン
      br
      球根のような玉ねぎのような見た目の生物。
      br
      野菜としても、肉としても扱われ、多くの存在に愛されている。
      br
      自衛手段として球根部分を爆発させ、根っこの部分を守ろうとする。
      br
      根っこがあれば球根は何度でも再生できる。
    p.system-description-system ボニョンは攻撃を受けると爆発するぞ！
    img.stageImage-system(src="./img/system/bonyon_chain.jpg" width="600px")
    p.system-description-system.end-description-system  ボニョンの爆発を連鎖させ多くの敵を巻き込み勝利を狙おう！
